@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
  margin: 0;
}

.card {
  @apply bg-white shadow-sm w-full dark:bg-slate-800 text-slate-800 dark:text-slate-200 p-8 flex items-center justify-center gap-2 rounded-md;
}
.input {
  @apply border-t border-b border-slate-200 dark:border-slate-600  py-1 bg-slate-100 dark:bg-slate-700 outline-none;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.prefix-input {
  @apply border-b border-t border-l border-slate-200 dark:border-slate-600 rounded-s-md px-3 py-1 bg-slate-100 dark:bg-slate-700 outline-none;
}
.suffix-input {
  @apply border-b border-t border-r border-slate-200 dark:border-slate-600 rounded-e px-3 py-1 bg-slate-100 dark:bg-slate-700 outline-none;
}
